/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.formBack {
    margin-top: 70px;
    margin-left: 5% !important;
    padding-top:10px
}

.formBack {
    color: #fff;
    font-size: 20px
}

.formBack a {
    color: #cc1515
}

.field-validation-error, .validation-summary-errors {
    color: red;
    font-size: 18px;
    font-weight: bold
}

.input-validation-error {
    border: 2px solid red
}

.pagination {
    padding-left: 50%;
}
