@{
    ViewBag.Title = "Home Page";
}


<!--star carousel-->
<div id="myslide" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myslide" data-slide-to="0" class="active"></li>
        <li data-target="#myslide" data-slide-to="1"></li>
        <li data-target="#myslide" data-slide-to="2"></li>
        <li data-target="#myslide" data-slide-to="3"></li>
        <li data-target="#myslide" data-slide-to="4"></li>
        <li data-target="#myslide" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" id="home">
        <div class="item active">
            <img src="~/images/shopping/sh6.jpg" alt="pic1">
            <div class="carousel-caption hidden-xs">
                <h2 class="h1">Welcome In Our society</h2>
                <p class="lead">Iam Happy To Visit My Website</p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/shopping/sh2.jpg" alt="pic2">
            <div class="carousel-caption hidden-xs hidden-xs">
                <h2 class="h1">You will get your Purpose</h2>
            </div>
        </div>

        <div class="item">
            <img src="~/images/shopping/sh3.jpeg" alt="pic3">
            <div class="carousel-caption hidden-xs">
                <h2 class="h1">Thanks for our clients</h2>
            </div>
        </div>

        <div class="item">
            <img src="~/images/shopping/sh4.jpg" alt="pic4">
            <div class="carousel-caption hidden-xs">
                <h2>not difficult to achieve your aim but difficult to keep on it</h2>
            </div>
        </div>

        <div class="item">
            <img src="~/images/shopping/sh5.jpg" alt="pic5">
            <div class="carousel-caption hidden-xs">
                <h2>Interested!</h2>
            </div>
        </div>

        <div class="item">
            <img src="~/images/shopping/sh1.jpg" alt="pic6">
            <div class="carousel-caption hidden-xs">
                <h2>Thanks for our clients</h2>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myslide" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <!--glyphicon glyphicon-chevron-left icon in bookstrap-->
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myslide" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--End carousel-->
<!--start intro-->
<div class="intro text-center wow animate__shakeX" data-wow-duration="20s" data-wow-offset="100" data-wow-itration="2" id="intro" style="background-color: rgb(73 75 75 / 49%);">
    <div class="container">
        <h1>Welcome In Our Website <span>Shopping</span></h1>
        <p class="lead">We Have All Types Of clothes And Accessories.<br>You Will Get Your Purpose.</p>
    </div>
</div>
<!--End intro-->
<!--start feature-->
<div class="feat text-center" id="feat">
    <div class="container">
        <h2 class="h1">Our Features</h2>
        <div class="row">
            <div class="col-md-4 col-xs-12 wow animate__backInDown" data-wow-duration="3s" data-wow-offset="80">
                <i class="fas fa-users fa-3x"></i>
                <h2>Website Easy to use</h2>
                <p class="lead">Our site is easy to any one to use, speed to loading.</p>
            </div>

            <div class="col-md-4 col-xs-12 wow animate__backInUp" data-wow-duration="3s" data-wow-offset="80">
                <i class="fas fa-tshirt fa-3x"></i>
                <h2>Less Price High Quality</h2>
                <p class="lead">Our site is characterized by nice products, High Quality, Less Price</p>
            </div>

            <div class="col-md-4 col-xs-12 wow animate__backInDown" data-wow-duration="3s" data-wow-offset="80">
                <i class="fas fa-users fa-3x"></i>
                <h2>The latest fashion</h2>
                <p class="lead">We always Download The latest fashion all over the world</p>
            </div>
        </div>
    </div>
</div>
<!--End feature-->
<!--start stats-->
<section class="stats text-center" id="stat">
    <div class="color">
        <div class="container">
            <h2 class="h1">Our Statistic</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="data hvr-pulse-grow">
                        <i class="fas fa-users fa-5x"></i>
                        <p>125,135</p>
                        <span>Visits Sites </span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="data hvr-pulse-grow">
                        <i class="fas fa-suitcase fa-5x"></i>
                        <p>20,800</p>
                        <span>Sales</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="data hvr-pulse-grow">
                        <i class="fas fa-comments fa-5x"></i>
                        <p>50,600</p>
                        <span>Comments </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End stats-->
<!--start testimonial-->
<div class="testimonial text-center" id="opinion" style="color:#000">
    <div class="container wow animate__swing" data-wow-duration="5s" data-wow-offset="50">
        <h2 class="h1">Opinion Of Clients</h2>
        <!--start carousel-->
        <div id="my" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <p class="lead">
                        It's nice site i found my purpose by easy, I not found any difficult to walk around this site thanks for your efforts
                    </p>
                    <span>Mostafa Ahmed</span>
                </div>
                <div class="item">
                    <p class="lead">
                        Iam happy to deal with your sites its provide all needs of clothes and the products very high quality and suitable prices
                    </p>
                    <span>Shrouq Ali</span>
                </div>

                <div class="item">
                    <p class="lead">
                        It's nice site i found my purpose by easy, I not found any difficult to walk around this site thanks for your efforts
                    </p>
                    <span>Samy Mohamed</span>
                </div>

                <div class="item">
                    <p class="lead">
                        Iam happy to deal with your sites its provide all needs of clothes and the products very high quality and suitable prices
                    </p>
                    <span>Samar Khaled</span>
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#my" data-slide-to="0" class="active">
                    <img src="~/images/testimonial/pic1.jpg" alt="Ahmed">
                </li>
                <li data-target="#my" data-slide-to="1">
                    <img src="~/images/testimonial/pic2.jpg" alt="Sara">
                </li>
                <li data-target="#my" data-slide-to="2">
                    <img src="~/images/testimonial/pic3.jpg" alt="Eslam">
                </li>
                <li data-target="#my" data-slide-to="3">
                    <img src="~/images/testimonial/pic4.jpg" alt="Rana">
                </li>
            </ol>

        </div>
        <!--End carousel-->

    </div>
</div>
<!--End testimonial-->
@*start comment
<section class="comment text-center">
    <div class="container">
        <p style="color:#ff0000">Write Comment</p>
        <form class="form-group">
            <input type="text" placeholder="Your comment">
            <button class="btn btn-danger" type="submit">Send<i class="fas fa-edit fa-lg"></i></button>
        </form>
    </div>
</section>
End comment*@
<!--start footer-->
<section class="footer text-center">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 wow animate__backInLeft" data-wow-duration="2s" data-wow-offset="100">
                <h2>SiteMap</h2>
                <ul class="sitemap list-unstyled text-center">
                    <li class="hvr-grow"><a href="/home/index">Home</a></li>
                    <li class="hvr-grow"><a href="#intro">introduction</a></li>
                    <li class="hvr-grow"><a href="#feat">Features</a></li>
                    <li class="hvr-grow"><a href="#stat">Statistic</a></li>
                    <li class="hvr-grow"><a href="#opinion">Opinion Clients</a></li>
                    <li class="hvr-grow"><a href="#opinion">Comment</a></li>
                </ul>
            </div>

            <div class="col-xs-6 wow animate__backInRight" data-wow-duration="2s" data-wow-offset="100">
                <h2>Social Media</h2>
                <ul class="list-unstyled social">
                    <li class="hvr-shrink">
                        <a href="https:/www.facebook.com" target="_blank">
                            <i class="fab fa-facebook fa-3x"></i>
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li class="hvr-shrink">
                        <a href="https:/www.twitter.com" target="_blank">
                            <i class="fab fa-twitter fa-3x"></i>
                            <p>Twitter</p>
                        </a>
                    </li>
                    <li class="hvr-shrink">
                        <a href="https:/www.whatsapp.com" target="_blank">
                            <i class="fab fa-whatsapp fa-3x"></i>
                            <p>Whatsapp</p>
                        </a>
                    </li>
                    <li class="hvr-shrink">
                        <a href="https:/www.youtube.com" target="_blank">
                            <i class="fab fa-youtube fa-3x"></i>
                            <p>youtube</p>
                        </a>
                    </li>
                    <li class="hvr-shrink">
                        <a href="https:/www.google.com" target="_blank">
                            <i class="fab fa-google fa-3x"></i>
                            <p>Google</p>
                        </a>
                    </li>
                    <li class="hvr-shrink">
                        <a href="https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2Fb%2F0%2FAddMailService&followup=https%3A%2F%2Faccounts.google.com%2Fb%2F0%2FAddMailService&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                           target="_blank">
                            <i class="fas fa-envelope fa-3x"></i>
                            <p>Email</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!--End footer-->
<!-- start loading-overlay -->
<div class="loading">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<!-- End loading-overlay -->
<script src="~/js/bootstrap.js"></script>