
@{
    ViewBag.Title = "failedCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="add text-center">
    <h2 class="margin" style="color:#f00">Falild</h2>
    <h2 style="margin-bottom:50px">You Should Enter Category In Cart</h2>
    <a class="btn" href="/AddToCart/addToCart">Back</a>
</section>
