
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/contact.css" rel="stylesheet" />
<!-- start successful message -->
    <h1 class="first_message">Thanks!</h1>
    <div class="message">
        <p>Your message has been sent successfully.</p>
    </div>
<!-- end successful message -->
